@font-face {
  font-family: "Special Elite";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/specialelite/v11/XLYgIZbkc4JPUL5CVArUVL0ntnAOSFNuQsI.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* CORE STYLES */
* {
  margin: 0;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  line-height: 1.5;
  background-color: #3f3f3f;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  padding: 1em 0;
}

p {
  padding: 1em 0;
}

/* HEADER STYLES */

#showcase {
  min-height: 450px;
  color: #fff;
}

#showcase .header-bg-image {
  position: absolute;
  background-image: url("./img/laptop-cartoon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  z-index: -1;
  opacity: 0.5;
}

#showcase h1 {
  padding-bottom: 0;
  font-family: "Special Elite";
  font-size: 3.5em;
  letter-spacing: 0.25em;
  color: #ffffff;
}

#showcase h2 {
  padding-bottom: 0;
  font-family: "Special Elite";
  font-size: 2.5em;
  letter-spacing: 0.25em;
  color: #ffffff;
}

#showcase .header_imgs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 4.8em;
  padding-top: 80px;
  padding-bottom: 0;
}

#showcase .content-wrap,
#section-a .content-wrap {
  padding: 0 1.5em;
}

/* SECTION A STYLES */

#section-a {
  background-color: #ffffff;
  color: #3f3f3f;
  padding-bottom: 2em;
  font-family: "Special Elite";
  font-size: 1.1em;
}

#section-a img {
  margin: auto;
  width: 220px;
  border-radius: 100%;
  border: 4 px solid #3f3f3f;
}

#section-a .bio_img {
  padding-top: 50px;
  padding-bottom: 15px;
}

/* SECTION B STYLES */

#section-b {
  padding: 2em 1em 1em;
}

#section-b ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#section-b li {
  position: relative;
  height: 300px;
  width: 80%;
  margin: 50px auto;
  color: white;
  border: 6px solid white;
  border-radius: 50px;
}

#section-b .main-bg-img {
  position: absolute;
  background-color: #69ddb7;
  background-image: url("./img/code-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
  height: 300px;
  width: 100%;
  z-index: -1;
  border-radius: 50px;
}

.card-content {
  padding: 1.5em;
}

#section-b .card {
  font-family: "Special Elite";
  letter-spacing: 0.2em;
}

#section-b h3 {
  font-size: 2em;
}

#section-b .fa-arrow-circle-down {
  font-size: 5em;
}

#section-b .fa-arrow-circle-down:hover {
  font-size: 5.5em;
  color: #69ddb7;
}

#section-b a {
  color: #fff;
}

/* SECTION C STYLES */

#section-c {
  background-color: #ffffff;
  color: #3f3f3f;
  padding: 1.8em;
  font-family: "Special Elite";
  font-size: 1.1em;
}

#section-c h2 {
  font-size: 2em;
}

/* SECTION D STYLES */

#section-d {
  font-family: "Special Elite";
}

#section-d h2 {
  font-size: 2em;
}

#section-d p {
  font-size: 1.1em;
}

#section-d .box {
  padding: 2em;
}

#section-d .box:first-child {
  background-color: #4ba084;
}

/* FOOTER STYLES */

#main-footer {
  padding: 2em;
  background-color: rgb(14, 14, 14);
  color: #fff;
  text-align: center;
}
