@font-face {
  font-family: "Special Elite";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/specialelite/v11/XLYgIZbkc4JPUL5CVArUVL0ntnAOSFNuQsI.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* CORE STYLES */
* {
  margin: 0;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  line-height: 1.5;
  background-color: #3f3f3f;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  padding: 1em 0;
}

p {
  padding: 1em 0;
}

/* HEADER STYLES */

#showcase {
  min-height: 450px;
  color: #fff;
}

#showcase .header-bg-image {
  position: absolute;
  background-image: url("./img/laptop-cartoon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  z-index: -1;
  opacity: 0.4;
}

#showcase h1 {
  padding-bottom: 0;
  font-family: "Special Elite";
  font-size: 3.5em;
  letter-spacing: 0.25em;
  color: #ffffff;
}

#showcase h2 {
  padding-bottom: 0;
  font-family: "Special Elite";
  font-size: 2.5em;
  letter-spacing: 0.25em;
  color: #ffffff;
}

#showcase .header_imgs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 4.8em;
  padding-top: 80px;
  padding-bottom: 0;
}

#showcase .content-wrap,
#section-a .content-wrap {
  padding: 0 1.5em;
}

/* SECTION A STYLES */

#section-a {
  background-color: #fffff9;
  color: #3f3f3f;
  padding-bottom: 2em;
  font-family: "Special Elite";
  font-size: 1.1em;
}

#section-a .fa-pencil {
  font-size: 4em;
  padding-top: 30px;
}
