/* CORE STYLES */
* {
  margin: 0;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  line-height: 1.5;
  background-color: #3f3f3f;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  padding: 1em 0;
}

p {
  padding: 1em 0;
}

/* HEADER STYLES */

#showcase {
  min-height: 450px;
  color: #fff;
}

#showcase .header-bg-image {
  position: absolute;
  background-image: url("./img/laptop-cartoon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  z-index: -1;
  opacity: 0.4;
}

#showcase h1 {
  padding-top: 100px;
  padding-bottom: 0;
}

#showcase .header_imgs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 4em;
  padding-top: 100px;
  padding-bottom: 0;
}
